:root {
  --white: #ffffff;
  --black: #1e1e1e;
  --dark-gray: #161616;
  --medium-gray: #333333;
  --blue: #0673cc;
  --light-gray: #333333;
  --gray: #444444;
  --button: #b9b7b7;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--black);
}

.navbar {
  color: var(--white);
  padding: 20px 0;
  background-color: var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjusted to space-between */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: top 0.3s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar ul {
  list-style: none;
  display: inline-flex;
  justify-content: right;
  align-items: center;
}

.navbar ul li {
  margin: 0 15px;
  font-size: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--white);
}

.navbar img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: 15px;
}

.menu-icon {
  display: none;
  margin-right: 15px;
}

/* Adjustments for screens up to 768px wide */
@media (max-width: 768px) {
  h1 {
    font-size: 30px !important;
  }
  .container {
    flex-direction: column;
  }
  .container img {
    max-height: 400px;
    max-width: fit-content;
  }
  .rotated-border {
    display: none;
  }
  .navbar {
    width: 100vw;
  }
  .text-content {
    margin-top: 60px;
  }
  .box-text {
    margin-bottom: 55px;
  }
  .project-title h1 {
    text-align: center !important;
  }
  .column {
    width: fit-content !important;
  }
  .container {
    flex-direction: column;
    display: flex;
    justify-content: center; /* Center contents horizontally */
    align-items: center; /* Center contents vertically */
  }
  .container img {
    max-height: 400px;
    max-width: fit-content;
    width: 100%; /* Ensure image takes full width */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the image */
  }
  /* Navbar */
  .navbar ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--dark-gray);
    position: absolute;
    top: 60px;
    left: 0;
    padding: 10px 0;
  }

  #nav {
    display: none;
  }
  .title-reason {
    display: none;
  }

  .box-choose {
    flex-direction: column !important;
    align-items: center;
    margin: 10px !important;
  }
  .box-text {
    height: fit-content !important;
  }
  .box-text p {
    width: fit-content !important;
  }
  .rotated-border {
    width: 0;
  }
  .menu-open .navbar ul {
    display: flex !important;
    height: 500px;
  }
  .choose {
    display: block !important;
  }
  #technowire {
    width: 300px !important;
    height: auto !important;
  }
  .navbar ul li {
    margin: 10px 0;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 18px;
  }

  /* Adjustments for home section */
  .home {
    height: 200px;
  }
  .home h3 {
    font-size: 40px; /* Decrease font size */
    margin-top: 17% !important;
  }

  .home p {
    font-size: 16px; /* Decrease font size */
  }

  /* Adjustments for about section */
  .about h1 {
    font-size: 40px; /* Decrease font size */
  }

  .about p {
    width: auto; /* Remove fixed width */
    font-size: 16px; /* Decrease font size */
    margin-bottom: 15px;
  }

  .bottom-image {
    margin-bottom: 25px !important;
  }

  .text-content {
    margin-right: 0; /* Remove margin */
    text-align: center; /* Center text */
  }

  .text-content p {
    width: auto !important;
  }
  .side-image,
  .bottom-image {
    width: 90% !important;
  }
  .text-content,
  .row {
    flex-direction: column;
    align-items: center;
  }
  .text-content {
    margin-right: 0;
  }
  .title h1 {
    text-align: center;
  }
  .choose {
    height: 110%;
  }

  /* Adjustments for projects section */
  .carousel-cell p {
    width: 100%; /* Make paragraph take full width */
    font-size: 14px; /* Decrease font size */
  }

  .project-title h1 {
    font-size: 40px; /* Decrease font size */
    margin-bottom: 30px; /* Decrease margin */
  }

  /* Adjustments for contact . */
  input[type="text"],
  textarea,
  input[type="email"] {
    width: 300px !important;
  }
}

.right {
  display: flex;
  justify-content: right;
}

#contact {
  border-radius: 10px;
  border: 1px solid var(--white);
  padding: 5px;
  background-color: var(--black);
  transition: all 0.3s ease-in-out;
}

#contact:hover {
  border-color: var(--blue);
  background-color: var(--blue);
}

.box {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 15%;
}

.button:hover {
  border-color: var(--blue);
  background-color: var(--blue);
}

.home hr {
  border-color: var(--dark-gray);
  margin: 0 10% 0 5%;
  margin-bottom: 70px;
  z-index: 1;
}

.home h3 {
  font-size: 55px;
  color: var(--white);
  margin-top: 10%;
}

.home h3,
.home p {
  margin-left: 5%;
}

.home p {
  font-size: 20px;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  font-weight: 600;
  white-space: nowrap;
  width: 200px;
}

@keyframes shine {
  0% {
    background-position: -200px;
  }
  100% {
    background-position: calc(100% + 200px);
  }
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--button);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.container {
  display: flex;
  justify-content: center;
  gap: 5%;
  color: var(--white);
}

.box-text {
  margin-top: 5%;
  height: 220px;
  border: 3px solid var(--gray);
  padding: 5%;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-text h2 {
  font-size: 20px;
  font-weight: normal;
}

.box-text h1,
.box-text p,
.box-text h2 {
  z-index: 100;
}

.box-text p {
  text-align: left;
  font-size: 14px;
  margin-left: 0;
  width: 550px;
  margin-bottom: 15px;
}

.rotated-border {
  border: 2px solid;
  transform: rotate(75deg);
  position: absolute;
  width: 500px;
  height: 500px;
  border-color: var(--light-gray);
}

.container h1 {
  font-weight: bold;
  font-size: 50px;
}

.container img {
  width: auto;
  height: 600px;
  border: 10px solid var(--light-gray);
  border-radius: 20px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  margin: 20% 0;
  padding: 20px 100px;
  font-size: 30px;
  text-decoration: none;
  color: var(--white);
  border-radius: 10px;
  background-color: var(--dark-gray);
  border: 1px solid var(--white);
  transition: all ease 0.5s;
  text-align: center;
  font-weight: bold;
}

footer {
  background-color: var(--dark-gray);
  color: var(--button);
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
}

footer p {
  margin: 0;
}

footer a {
  color: var(--white);
  text-decoration: none;
}

.contact-button {
  border-radius: 10px;
  border: 1px solid var(--white);
  padding: 10px 20px;
  transition: all ease 0.3s;
  font-size: 20px;
}

#instagram {
  transition: all ease 0.5s;
}

#instagram:hover {
  scale: 1.15;
}

.social img {
  width: 50px;
  border-radius: 10px;
  margin-right: 15px;
}

#linkedin {
  transition: all ease 0.5s;
}

#linkedin:hover {
  scale: 1.1;
}

#github {
  transition: all ease 0.5s;
}

#github:hover {
  scale: 1.1;
}

.about {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about p {
  width: 600px;
  margin-top: 30px;
  font-size: 20px;
}

.about h1 {
  font-size: 60px;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.top-row {
  align-items: flex-start;
  justify-content: space-around;
}

.text-content {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.side-image {
  width: 600px;
  height: auto;
}

.bottom-row {
  justify-content: space-around;
}

.bottom-image {
  width: 600px;
  height: auto;
  margin: 10px;
  margin-bottom: 150px;
}

#img-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-image {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all ease 0.5s;
}

.about-image:hover {
  scale: 1.05;
}

@media (max-width: 1200px) {
  .side-image,
  .bottom-image {
    width: 80%;
  }
  .text-content,
  .row {
    flex-direction: column;
    align-items: center;
  }
  .text-content {
    margin-right: 0;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.shape {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  animation: move 20s linear infinite;
  opacity: 20%;
}

.shape1 {
  width: 100px;
  height: 100px;
  top: 10%;
  left: 20%;
  animation-duration: 25s;
}

.shape2 {
  width: 150px;
  height: 150px;
  top: 50%;
  left: 60%;
  animation-duration: 20s;
}

.shape3 {
  width: 200px;
  height: 200px;
  top: 70%;
  left: 30%;
  animation-duration: 30s;
}

.shape4 {
  width: 250px;
  height: 250px;
  top: 30%;
  left: 80%;
  animation-duration: 35s;
}

@keyframes move {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-200px) translateX(200px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.choose {
  display: flex;
  color: var(--white);
  flex-direction: column;
  position: relative; /* Add position relative to contain the absolute positioning of .title-reason */
}

.title-reason {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0; /* Position the title at the top */
}

.title-reason h1 {
  font-size: 60px;
  margin-bottom: 2%;
}

.box-choose {
  margin: 150px;
  border-radius: 10px;
  padding: 5% 0%;
  background-color: var(--gray);
  display: flex;
  flex-direction: row;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: space-between; /* Adjusted to space-between to evenly space the columns */
}

.column {
  width: 30%; /* Adjust width to fit three columns in a row */
  padding: 0 2%; /* Add padding to columns */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text */
}

.column h1,
.column p,
.column img {
  margin-top: 3%;
}

.icon {
  width: 100px;
}

.slider-container {
  overflow: hidden;
  white-space: nowrap;
  overflow-x: scroll;
  margin: 10%;
  padding: 30px;
}

.card {
  display: inline-block;
  width: 300px;
  height: 400px;
  background-color: var(--gray);
  margin-right: 10px;
  text-align: center;
  border-radius: 10px;
}

/* .scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
} */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}
.flickity-prev-next-button.next {
  right: 10px;
}
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

.projects {
  width: 80%;
  margin: 0 auto; /* Center the projects section horizontally */
  display: flex;
  justify-content: center; /* Center content inside the section */
  flex-direction: column;
  margin-bottom: 150px;
}

.main-carousel {
  width: 100%; /* Ensure carousel takes the full width of the parent */
  margin: 0 auto; /* Center the carousel */
  gap: 20px;
  border-radius: 20px;
}

.carousel-cell {
  height: 400px;
  width: 100%;
  background-color: var(--gray);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally in each cell */
  justify-content: center; /* Center content vertically in each cell */
  margin: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: var(--white);
}

.carousel-cell a {
  text-decoration: none;
  color: var(--white);
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid var(--white);
  transition: all ease 0.5s;
  background-color: var(--dark-gray);
  font-size: 18px;
}

.carousel-cell a:hover {
  background-color: var(--blue);
  border-color: var(--blue);
}

.carousel-cell p {
  text-align: center;
  width: 80%;
  margin-bottom: 5%;
}

#technowire {
  height: 150px;
  width: 500px;
}
#spongebob {
  height: 150px;
  border-radius: 20px;
}
#gastenboek {
  height: 150px;
  border-radius: 20px;
}

#gamecraft {
  height: 150px;
  border-radius: 20px;
}
#ergowijzer {
  height: 150px;
}
.project-title h1 {
  font-size: 60px;
  color: var(--white);
  margin-bottom: 60px;
}

.container-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e1e;
  margin: 0;
  position: relative;
}
.contact-form {
  background: #302f2f;
  padding: 20px;
  padding-top: 30px;
  border-radius: 5px;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25);
  width: 500px;
  z-index: 2;
}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}

.form-group input,
.form-group textarea {
  width: 90%;
  padding: 10px 5px;
  border: none;
  border-bottom: 2px solid #ffff;
  outline: none;
  transition: border-color 0.3s, padding-top 0.3s;
  background-color: #302f2f;
}

.form-group input:focus,
.form-group textarea:focus {
  border-bottom-color: white;
}

.form-group label {
  position: absolute;
  left: 5px;
  bottom: 10px;
  color: #666;
  pointer-events: none;
  transition: all 0.3s ease;
}

.form-group input,
.form-group textarea {
  color: white;
}
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  bottom: 40px;
  /* font-size: 12px; */
  color: white;
}

.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
  bottom: 125px; /* Specific change for the textarea label */
  /* font-size: 12px; */
  color: white;
}

.form-group textarea {
  resize: none;
  height: 100px;
}

/* Initial higher position for the message label */
.form-group textarea + label {
  bottom: 100px;
}

.form-group button {
  display: inline-block;
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-group button:hover {
  background: #0056b3;
}
.form-group label {
  color: #ffff; /* Change the color to black for all labels */
}

.box1 {
  background-color: #575656;
  width: 400px;
  height: 240px;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
  position: absolute;
  left: 130px;
  top: 130px;
  color: #ffff;
  border-radius: 5px;
}

.box1 h2 {
  text-align: center;
  font-weight: bold;
}
.box1 p {
  text-align: left;
  margin: 30px 70px;
}

.box2 {
  background-color: #1e1e1e;
  box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25);
  height: fit-content;
  width: 250px;
  color: #fff;
  z-index: 3;
  position: absolute;
  right: 250px;
  top: 270px;
  border-radius: 5px;
}
.box2 h2 {
  text-align: center;
}
.box2 p {
  text-align: left;
  margin: 30px 20px;
}

@media (max-width: 768px) {
.container-contact{
  flex-direction: column;
}
.contact-form{
  width: 300px;
}
.box2{
  top: 570px;
  right: 15px;
}
.box1{
  top: 30px;
  left: 25px;
  width: 250px;
}
.box1 p{
  margin: 10px;

}
}



/* ============== EMAIL JS POP UP ALERT ========================== */
.alert {
  padding: 15px;
  margin: 20px 0;
  border: 1px solid transparent;
  border-radius: 4px;
  position: fixed;
  top: 20px;
  right: -300px; /* Initially hide off-screen */
  width: 250px;
  z-index: 1000;
  transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0; /* Initially invisible */
}
.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert.show {
  right: 20px; /* Slide in to the visible area */
  opacity: 1; /* Make it visible */
}

.cv {
  border: 1px solid var(--white);
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
  color: var(--white);
  transition: all ease 0.5s;
}

.cv:hover {
  background-color: var(--blue);
  border-color: var(--blue);
}

.rotate{
  width: 500px;
  height: 300px;
}

